# ===============================
#  TM-Landscape Git Ignore File
# ===============================

# --- Local data directories (do not upload) ---
data/
models/
runs/

# Allow zipped versions to be tracked
!data.zip
!models.zip

# --- Python cache ---
__pycache__/
*.pyc

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Editors ---
.vscode/

# --- OS junk ---
.DS_Store
Thumbs.db
