name: tmls
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  # Core
  - python=3.9
  - numpy>=1.22
  - scipy
  - pandas
  - matplotlib
  - seaborn
  - requests
  - scikit-learn
  - tqdm
  - plotly
  - umap-learn
  - numba

    # GPU stack (CUDA 12.1)
  - pytorch=2.3
  - torchvision=0.18
  - torchaudio=2.3
  - pytorch-cuda=12.1

  # Other scientific tools
  - faiss-cpu
  - sentencepiece

  # Pip packages
  - pip
  - pip:
      - cupy-cuda12x
      - git+https://github.com/tymor22/tm-vec.git
      - transformers>=4.42
      - tokenizers
