name: tmls
channels:
  - pytorch
  - conda-forge
  - defaults

dependencies:
  - python=3.9
  - numpy
  - scipy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - umap-learn
  - tqdm
  - plotly
  - cupy-cuda12x
  - numba
  - pynndescent
  - pytorch=2.2
  - torchvision
  - torchaudio
  - faiss-cpu
  - sentencepiece
  - pip
  - pip:
      - git+https://github.com/tymor22/tm-vec.git
      - transformers>=4.30
      - tokenizers
